// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#content {
 // width: 50px;
  float: left;
  display: inline-block;
  margin: 30px;
}

#sidebar {
  // width: 50px;
  float: left;
  display: inline-block;
}